* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

#navbar {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #222;
    gap: 8px;
}

a { 
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;

}